@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  font-family: "Pacifico";
  text-align: center;
  width: 100%;
  background-color: #FF395E;
  padding: 18px;
  color: white;
  position: fixed;
  font-size: 30px;
  top: 0;
  z-index: 1000;
  left: 0;
}

/* clases reutilizables */
body {
  background-color: #FFF4C9;
  color: #4A4A4A;
  font-family: "Raleway";
}
.center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.center-vertical {
  vertical-align: middle;
}
.red-border {
  border-bottom: 3px;
  color: red;
  border-bottom-color: red !important;
}
.bg-blue {
  background-color: #F6F6F6 !important;
  color: #4A4A4A;
}
.bg-yellow {
  background-color: #A1EAFB;

}
/* index */
input {
  box-shadow:0 0 0 0 transparent !important;
}
.container-data {
  color: #4A4A4A;
}
.flex-container {
  display: flex;
  align-items: center;
  height: 100vh;
}
.button {
  font-weight: bold;
  background-color: #143A52;
}

/* Contacts */

.container-contacts {
  margin-top: 100px;

}
.contact {
  display: flex;
  align-items: center;
  color: #4A4A4A;
  border-bottom: 1px solid #4a4a4a;
  padding: 10px;
}
.data-contact {
  width: 75%;
  padding-left: 10px;
  display: inline-block;
  font-size: 0.8em;
}
.data-contact h6 {
  font-size: 0.9rem;
}
.contact .send-icon {
  position: absolute;
  float: left;
  right: 35px;
}
.image-user {
  display: inline-block;
  width: 20%;
}
.image-user i {
  font-size: 2rem;  
}
/* Payment */
.amount i, .amount input {
  font-size: 4rem !important;
}
#amount  {
  margin-top: 5px;
}
.m-t {
  margin-top: 30px;
}
.amount input {
  height: 4.5rem !important;
  padding-left: 20px;
  margin-left: 3.5rem !important;
}
.amount input::-webkit-input-placeholder {
  text-align: center;
}
.container-payment {
  margin-top: 30px;  
}
.c-blue {
  color: #FF395E;
}
.container-amount{
  position: relative;
  color: #8FECC8;
}
.container-amount span {
  position: absolute;
  left: 0;
  bottom: 0;
}
/*check*/
.container-check img {
  width: 80%;
}
.container-check h2 {
  font-size: 2rem;
}
