/* Azul verdoso oscuro */
$color1: rgba(0, 48, 73, 1);
/* Rojo pinky */
$color2: #143A52;
/* Naranja */
$color3: rgba(247, 127, 0, 1);
/* Amarillo yelow claro */
$color4: #4A4A4A;
/* Hueso */
$color5: rgba(234, 226, 183, 1);
